html, body{
    font-size: 16px;
}
legend{
    text-align: center;
    font-weight: bold;
}
fieldset{
    border: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    background-color:#e0e0e0;
    border: none;
    border-radius:10px;
	cursor:pointer;
	color:#000000;
	font-weight:bold;
	padding: .5rem 1rem;
}
button:hover {
	background-color:#d2cfcf;
}
.add-book{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s ease-in-out;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}
#books-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: auto;
}
.book-card{
    background-color: #000000;
    color: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    gap: .5rem;
    margin: auto;
}
.book-card_title{
    font-weight: bold;
    margin: .5rem auto;
}
.book-card_description{
    font-size: 1rem;
    text-align: center;
    font-style: italic;
}
#form-submit{
    background-color: #fff;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.6);
}
