@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-color: #FFC090;
    --secundary-color: #F7F6DC;
}
html, body{
    font-size: 16px;
    background-color: var(--secundary-color);
    font-family: 'Roboto', sans-serif;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 1rem;
    width: 100%;
    z-index: 1;
    position: fixed;
}
fieldset{
    border: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
main{
    padding-top: 5rem;
    padding-bottom: 2rem;
}
button{
    border-radius:10px;
	cursor:pointer;
	font-weight:bold;
	padding: .5rem 1rem;
    transition-duration: 0.4s;
    background-color: white;
    color: #000;
    border: 2px solid var(--main-color);
}
button:hover {
    border: 2px solid #000;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
.delete:hover {
    border: 2px solid rgb(255, 0, 0);
}
.add-book{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s ease-in-out;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}
.chk-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.fa-times{
    cursor: pointer;
    padding: .5rem;
    font-size: 1.75rem;
}
.fa-times:hover{
    color: red;
}
.book-card{
    background-color: var(--main-color);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    gap: .5rem;
    margin: auto;
}
.book-card_title{
    font-weight: bold;
    margin: .5rem auto;
}
.book-card_description{
    font-size: 1rem;
    text-align: center;
    font-style: italic;
}
.input-text { 
    padding:11px;   
    border: 2px solid var(--main-color);
    font-size: 1.2rem;
    border-radius:11px;
    box-shadow: 2px 1px 5px 0px rgba(42,42,42,.75);
} 
.input-text:focus { 
    outline:none;
} 
.button:hover {
    background-color: var(--main-color);
    color: white;
}

#form-submit{
    background-color: var(--secundary-color);
    padding: 1rem 2.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.6);
}
#books-info{
    display: grid;
    grid-template-columns: 1r;
    grid-template-rows: auto;
    gap: 1rem;
    margin: auto;
}
#save-book:hover{
    border: 2px solid rgb(0, 160, 0);
}